html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.dockyard-wrapper {
  visibility: visible !important;
}

webview {
  border: solid 1px #f00;
  width: 800px;
  height: 480px;
  background: #fff;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  appearance: none;
}

body {
  font: 14px 'SF UI Text', 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eaeaea;
  color: #4d4d4d;
  margin: 0 auto;
  font-smoothing: antialiased;
}

button,
input[type="checkbox"] {
  outline: none;
}
